fastapi==0.101.1
uvicorn==0.23.2
sqlmodel==0.0.8
sqlalchemy==1.4.41
python-dotenv==1.0.0
python-multipart

PyPDF2==3.0.1
reportlab==3.6.12
Pillow==10.4.0

python-jose==3.3.0
passlib[bcrypt]==1.7.4
   
pg8000==1.29.8  # ← For Postgres
